footer {
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);

  .container {
    display: grid;
    grid-template-columns: 30% 33% 30%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
  }

  a {
    color: #eee;

    &:hover {
      color: #fff;
    }
  }

  .copyright {
    text-align: center;
    border-color: #fff;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-content: center;
  }
}
